:root {
	--primary-red-color: #ff2600;
	--primary-text-color: #222222;
	--secondary-text-color: #c7c7c7;
	--secondary-color: #efefef;
	--border-color: #c7c7c7;
}

* {
	margin: 0px;
	padding: 0px;
	font-family: "Poppins", sans-serif;
	scroll-behavior: smooth;
}

/* header */

.header {
	height: 96px;
	position: fixed;
	z-index: 20;
	background-color: #ffffff;
	width: 100%;
}

.container {
	width: 1170px;
	margin: auto;
}

.logolink{
	display: block;
}

.logosection {
	float: left;
	margin: 16px auto;
}

.navsection {
	float: right;
	margin: 36px auto;
}

.headercontainer::after {
	content: "";
	display: block;
	clear: both;
}

.navbaritems {
	list-style: none;
	float: left;
}

.navbar::after {
	content: "";
	display: block;
	clear: both;
}

.navlinks {
	text-decoration: none;
	margin: auto 10px;
	color: var(--border-color);
	letter-spacing: 0px;
	font-size: 16px;
	font-weight: 300;
}

.navlinks:hover{
	color: var(--primary-text-color);
	/* text-decoration: underline; */
}

.active {
	color: var(--primary-text-color);
	text-decoration: underline;
}

.contact {
	margin-right: 0px;
}

/* banner */

.banner {
	height: 717px;
	padding-top: 96px;
	overflow: hidden;
}

.bannerfirstpart {
	height: 620px;
	background-color: var(--secondary-color);
}

.bannerhead {
	margin-bottom: 20px;
	font-weight: 900;
	font-size: 50px;
	letter-spacing: 0px;
	color: var(--primary-text-color);
	text-align: left;
}

.bannerinfo {
	margin-bottom: 60px;
	font-weight: 300;
	font-size: 16px;
	letter-spacing: 0px;
	color: var(--primary-text-color);
	text-align: left;
}

.bannerbtn {
	font-weight: 300;
	font-size: 18px;
	letter-spacing: 0px;
	color: var(--primary-text-color);
	border: none;
	height: 26px;
	cursor: pointer;
	outline: none;
	text-align: left;
}

.bannerbtn::after {
	content:"";
	display: block;
	height: 10px;
	background-color: var(--primary-red-color);
	opacity: 0.3;
	margin: -10px 0 0 0;
}

.bannerinfosection {
	padding: 215px 0px;
	width: 550px;
}

.bannercontainer{
	position: relative;
}

.bannerimgsection {
	position: absolute;
	top:0px;
	right: -190px;
}

.bannerimgsection img{
	display: block;
}

/* categories */

.cats_cards_sec::after{
	content: "";
	display: block;
	clear: both;
}

.catsection {
	margin-top: 60px;
}

.catnavsection {
	margin-bottom: 50px;
}

.card {
	width: 350px;
	margin-right: 60px;
	float: left;
}

.cardimgsection {
	position: relative;
	display: inline-block;
}

.lastcard {
	margin-right: 0px;
}

.first {
	margin-left: 0px;
}

.cardinfo {
	padding: 20px;
}

.firstcard {
	background-image: url("../images/product_01.png");
	width: 350px;
	height: 450px;
}

.secondcard {
	background-image: url("../images/product_02.png");
	width: 350px;
	height: 450px;
}

.lastcardimg {
	background-image: url("../images/product_03.png");
	width: 350px;
	height: 450px;
	margin-right: 0px;
}

.infoonimg {
	width: 350px;
	height: 450px;
	background-color: rgba(34, 34, 34, 0);
	color: transparent;
	z-index: 50;
}

.infoonimg:hover{
	background-color: rgba(34, 34, 34, 0.8);
	 filter: grayscale(100%);
	color: #ffffff;
}

.imghead {
	font-weight: 500;
	font-size: 24px;
	letter-spacing: 0px;
	padding: 20px;
}

.imginfo {
	font-weight: 300;
	font-size: 16px;
	letter-spacing: 0px;
	padding: 20px;
}

.cardname {
	font-weight: 500;
	font-size: 24px;
	letter-spacing: 0px;
	color: var(--primary-text-color);
	text-align: left;
}

.cardprice {
	font-size: 14px;
	font-weight: 300;
	letter-spacing: 0px;
	color: var(--primary-text-color);
	text-align: left;
}

.catnavlinks {
	font-size: 18px;
	text-align: left;
}

.wrapperdiv{
	z-index: 10;
}

.imglabel {
	position: absolute;
	bottom: 2px;
	left: 20px;
	background-color: #ffffff;
	width: 73px;
	height: 30px;
}

.label {
	text-align: center;
	letter-spacing: 0px;
	font-size: 14px;
	font-weight: 300;
	color: var(--primary-text-color);
	padding: 6px 0px;
}

.cardline {
	width: 350px;
	background-color: var(--primary-text-color);
	height: 2px;
	position: absolute;
	bottom: 0px;
}

/* advt banner */

.advtbanner {
	margin-top: 120px;
}

.advtcontainer {
	position: relative;
}

.advtimginfo {
	float: right;
	padding: 91px 60px;
}

.advtbtnsection {
	margin-top: 30px;
}

.sale {
	font-weight: 300;
	font-size: 16px;
	letter-spacing: 0px;
	color: var(--primary-text-color);
	text-align: left;
}

.off {
	font-size: 24px;
	font-weight: 600;
	letter-spacing: 0px;
	color: var(--primary-text-color);
	text-align: left;
}

.sectionone {
	float: left;
	background-image: url("../images/banner_bg_1.png");
	width: 555px;
	height: 300px;
}

.sectiontwo {
	float: right;
	background-image: url("../images/banner_bg_2.png");
	width: 555px;
	height: 300px;
}

.advtcontainer::after {
	content: "";
	display: block;
	clear: both;
}

.sectiontwo {
	position: relative;
}

.advtimginfo2 {
	float: left;
	padding: 91px 65px;
}

.sale2 {
	font-weight: 300;
	font-size: 16px;
	letter-spacing: 0px;
	color: var(--primary-text-color);
}

.off2 {
	font-weight: 600;
	font-family: 24px;
	letter-spacing: 0px;
	color: var(--primary-text-color);
	margin-bottom: 30px;
}

/* cards */

.cards_cardssections {
	margin-top: 120px;
}

.cards_card {
	box-sizing: border-box;
	width: 350px;
	float: left;
	border: 1px solid var(--secondary-text-color);
	background-color: #ffffff;
	margin-right: 60px;
}

.cards_lastcard {
	margin-right: 0px;
	float: left;
}

.cards_cardname {
	font-weight: 500;
	font-size: 24px;
	letter-spacing: 0px;
	color: var(--primary-text-color);
	text-align: left;
}

.cards_cardprice {
	font-size: 14px;
	font-weight: 300;
	letter-spacing: 0px;
	color: var(--primary-text-color);
	text-align: left;
}

.cards_breakline {
	border-bottom: 1px solid var(--secondary-text-color);
	width: 310px;
	margin: 10px 0 13px 0;
}

.cards_tag {
	font-size: 10px;
	font-weight: 300;
	letter-spacing: 0px;
	color: var(--primary-text-color);
	float: left;

}

.cards_tags::after {
	content: "";
	display: block;
	clear: both;
}

.cards_tag2 {
	margin-left: 49px;
}

.cards_cart {
	float: right;
	text-align: center;
}

.cards_cart_a{
	text-decoration: none;
}

.cards_cart_a::after{
	content: '';
	display: block;
	clear: both;
}


.cards_cardsecondpart {
	padding: 19px;
}

.cards_cardprice2 {
	text-decoration: line-through;
	font-size: 10px;
	font-weight: 300;
	color: var(--border-color);
	letter-spacing: 0px;
}

.cards_cardimg {
	position: relative;
	width: 350px;
}

.cards_cardimg img{
	width: 348px;
	display: block;
	/* margin: 0px;
	padding: 0px; */
}

.lastcard_cardimg img{
	width: 347px;
}



.cards_offer {
	position: absolute;
	top: 20px;
	right: 20px;
	background-color: #222222;
	width: 73px;
	height: 30px;
}

.cards_offerinfo {
	text-align: center;
	font-size: 14px;
	font-weight: 300;
	letter-spacing: 0px;
	color: #ffffff;
	margin: 5px auto;
}

.cards_container::after {
	content: "";
	display: block;
	clear: both;
}

/* newsletter */

.newsletter {
	margin-top: 305px;
}

.content{
	position: relative;
}

.newletterimgsection {
	position: absolute;
	left: 100px;
	top: -186px;
}

.newletterimgsection img{
	display: block;
}

.content {
	background-color: var(--secondary-color);
}

.subscribeheading {
	padding-top: 60px;
	text-align: center;
	font-weight: 500;
	font-size: 24px;
	letter-spacing: 0px;
	color: var(--primary-text-color);
}

.now {
	font-weight: 300;
}

.subscribeinfo {
	padding-top: 10px;
	font-size: 14px;
	font-weight: 300;
	letter-spacing: 0px;
	color: var(--primary-text-color);
	text-align: center;
}

.subscribeinput {
	padding-top: 41px;
	padding-bottom: 60px;
}

.subscribeinput::after{
	content: "";
	display: block;
	clear: both;
}

.subscribeemailinputbox {
	background-color: #fff;
	border: none;
	outline: none;
	width: 350px;
	height: 50px;
	padding: 0px 30px;
	font-size: 14px;
	font-weight: 300;
	letter-spacing: 0px;
	color: var(--border-color);
	box-sizing: border-box;
	float: left;
}

.subscribebtn {
	width: 160px;
	height: 50px;
	background-color: var(--primary-text-color);
	color: #fff;
	text-align: center;
	font-size: 14px;
	font-weight: 300;
	letter-spacing: 0px;
	float: left;
	box-sizing: border-box;
	border: none;
	outline: none;
}

.newsletter_container{
	position: relative;
}

.newsletter_container::after{
	content: "";
	display: block;
	clear: both;
}

.subscribesection {
	float: right;
	width: 510px;
	margin-right: 82px;

}

/* article */

.article{
	margin-top: 120px;
}

.article_card{
	width: 350px;
	float: left;
	margin-right: 60px;
}

.article_infosection{
	padding: 30px 0px;
}

.article_imgsection{
	position: relative;
}

.article_imgsection img{
	display: block;
}

.article_border{
	position: absolute;
	top: 0;
	left: 0;
	width: 2px;
	height: 230px;
	background-color: var(--primary-text-color);
}

.lastarticle_card{
	float: right;
	margin-right: 0px;
}

.article_container::after{
	content: "";
	display: block;
	clear: both;
}

.article_name{
	font-weight: 500;
	font-size: 18px;
	letter-spacing: 0px;
	color: var(--primary-text-color);
	text-align: left;
}

.article_info{
	font-weight: 300;
	font-size: 16px;
	letter-spacing: 0px;
	color: var(--primary-text-color);
	padding-top: 20px;
	text-align: left;
}

.article_readmore{
	font-size: 18px;
	font-weight: 300;
	letter-spacing: 0px;
	color: var(--primary-text-color);
	padding-top: 30px;
	text-transform: uppercase;
	text-align: left;

}

.readmorelinks{
	text-decoration: none;
}

/* links */

.linkssection{
	margin-top: 120px;
}

.linkheading{
	font-size: 30px;
	font-weight: 500;
	letter-spacing: 0px;
	color: var(--primary-text-color);
}

.links_content{
	float: left;
	margin-right: 142px;
}

.links_container::after{
	content: "";
	display: block;
	clear: both;
}


.links_content_right{
	float: right;
	margin-right: 0px;
}


.links{
	margin-top: 30px;
}

.link:hover{
	text-decoration: underline;
}

.listitem{
	list-style: none;
	padding: 5px 0px;
}

.link{
	text-decoration: none;
	font-size: 16px;
	font-weight: 300;
	letter-spacing: 0px;
	color: var(--primary-text-color);
	text-align: left;
}


/* footer */

.footer{
	margin-top: 60px;
	background-color: var(--secondary-color);
	height: 122px;
}

.footer_container::after{
	content: "";
	display: block;
	clear: both;
}

.copyright{
	margin: 45px auto;
	float: left;
}

.copy{
	font-size: 16px;
	font-weight: 300;
	letter-spacing: 0px;
	color: var(--primary-text-color);
}

.footerlink{
	font-size: 16px;
	font-weight: 300;
	letter-spacing: 0px;
	color: var(--primary-text-color);
	text-align: left;
}

.footerlink:hover{
	text-decoration: none;
}

.footerlinkssection{
	float: right;
}

.footer_container::after{
	content: "";
	display: block;
	clear: both;
}

.footerlistitem{
	float: left;
	margin: 43px 15px ;
}

.footer_ul::after{
	content: "";
	display: block;
	clear: both;
}