:root {
	--primary-red-color: #ff2600;
	--primary-text-color: #222222;
	--secondary-text-color: #c7c7c7;
	--secondary-color: #efefef;
	--border-color: #c7c7c7;
}

* {
	margin: 0px;
	padding: 0px;
	font-family: "Poppins", sans-serif;
	scroll-behavior: smooth;
}

/* header */

.header {
	height: 96px;
	position: fixed;
	z-index: 20;
	background-color: #ffffff;
	width: 100%;
}

.container {
	width: 1170px;
	margin: auto;
}

.logosection {
	float: left;
	margin: 16px auto;
}

.navsection {
	float: right;
	margin: 36px auto;
}

.headercontainer::after {
	content: "";
	display: block;
	clear: both;
}

.navbaritems {
	list-style: none;
	float: left;
}

.navbar::after {
	content: "";
	display: block;
	clear: both;
}

.navlinks {
	text-decoration: none;
	margin: auto 10px;
	color: var(--border-color);
	letter-spacing: 0px;
	font-size: 16px;
	font-weight: 300;
}

.active {
	color: var(--primary-text-color);
	text-decoration: underline;
}

.contact {
	margin-right: 0px;
}

/* banner */

.banner {
	height: 717px;
	padding-top: 96px;
	overflow: hidden;
}

.bannerfirstpart {
	height: 620px;
	background-color: var(--secondary-color);
}

.bannerhead {
	margin-bottom: 20px;
	font-weight: 900;
	font-size: 50px;
	letter-spacing: 0px;
	color: var(--primary-text-color);
}

.bannerinfo {
	margin-bottom: 60px;
	font-weight: 300;
	font-size: 16px;
	letter-spacing: 0px;
	color: var(--primary-text-color);
}

.bannerbtn {
	font-weight: 300;
	font-size: 18px;
	letter-spacing: 0px;
	color: var(--primary-text-color);
	border: none;
	height: 26px;
	cursor: pointer;
	outline: none;
}

.bannerbtnborder {
	width: 96px;
	height: 10px;
	background-color: var(--primary-red-color);
	opacity: 0.3;
	margin: -10px 0 0 0;
}

.bannerinfosection {
	padding: 215px 0px;
	width: 550px;
}

.bannercontainer{
	position: relative;
}

.bannerimgsection {
	position: absolute;
	top:0px;
	left: 570px;
}

/* categories */

.catsection {
	margin-top: 60px;
}

.catnavsection {
	margin-bottom: 50px;
}

.card {
	display: inline-block;
	width: 350px;
	margin-right: 55px;
}

.cardimgsection {
	/* position: re; */
	display: inline-block;
	margin-right: 22px;
}

.lastcard {
	margin-right: 0px;
}

.first {
	margin-left: 0px;
}

.cardinfo {
	margin-left: 20px;
}

.firstcard {
	background-image: url("../images/product_01.png");
	width: 350px;
	height: 450px;
}

.secondcard {
	background-image: url("../images/product_02.png");
	width: 350px;
	height: 450px;
}

.lastcardimg {
	background-image: url("../images/product_03.png");
	width: 350px;
	height: 450px;
	/* margin: 7px; */
	margin-right: 0px;
}

.infoonimg {
	width: 350px;
	height: 450px;
	background-color: var(--primary-text-color);
	opacity: 1;
	color: #ffffff;
	margin-top: -33px;
	z-index: 50;
}

.infoonimg:hover{
	opacity: 0.8;
}

.imghead {
	font-weight: 500;
	font-size: 24px;
	letter-spacing: 0px;
	color: #ffffff;
	padding: 20px;
}

.imginfo {
	font-weight: 300;
	font-size: 16px;
	letter-spacing: 0px;
	color: #ffffff;
	padding: 20px;
}

.cardname {
	font-weight: 500;
	font-size: 24px;
	letter-spacing: 0px;
	color: var(--primary-text-color);
	margin-top: 20px;
}

.cardprice {
	font-size: 14px;
	font-weight: 300;
	letter-spacing: 0px;
	color: var(--primary-text-color);
}

.catnavlinks {
	font-size: 18px;
}

.imglabel {
	position: relative;
	top: 420px;
	left: 20px;
	background-color: #ffffff;
	width: 73px;
	height: 30px;
}

.label {
	text-align: center;
	letter-spacing: 0px;
	font-size: 14px;
	font-weight: 300;
	color: var(--primary-text-color);
	padding: 6px 0px;
}

.cardline {
	width: 350px;
	background-color: var(--primary-text-color);
	height: 2px;
	position: relative;
	top: 418px;
}

/* advt banner */

.advtbanner {
	margin-top: 120px;
}

.advtcontainer {
	position: relative;
}

.advtimginfo {
	position: absolute;
	top: 96px;
	left: 260px;
}

.advtbtnsection {
	margin-top: 30px;
}

.sale {
	font-weight: 300;
	font-size: 16px;
	letter-spacing: 0px;
	color: var(--primary-text-color);
}

.off {
	font-size: 24px;
	font-weight: 600;
	letter-spacing: 0px;
	color: var(--primary-text-color);
}

.sectionone {
	float: left;
}

.sectiontwo {
	float: right;
}

.advtcontainer::after {
	content: "";
	display: block;
	clear: both;
}

.sectiontwo {
	position: relative;
}

.advtimginfo2 {
	position: absolute;
	top: 96px;
	left: 65px;
}

.sale2 {
	font-weight: 300;
	font-size: 16px;
	letter-spacing: 0px;
	color: var(--primary-text-color);
}

.off2 {
	font-weight: 600;
	font-family: 24px;
	letter-spacing: 0px;
	color: var(--primary-text-color);
	margin-bottom: 30px;
}

/* cards */

.cards_cardssections {
	margin-top: 120px;
}

.cards_card {
	width: 350px;
	float: left;
	border: 1px solid var(--secondary-text-color);
	background-color: #ffffff;
	margin-right: 50px;
}

.cards_lastcard {
	margin-right: 0px;
	float: right;
}

.cards_cardinfo {
	margin-top: 20px;
}

.cards_cardname {
	font-weight: 500;
	font-size: 24px;
	letter-spacing: 0px;
	color: var(--primary-text-color);
}

.cards_cardprice {
	font-size: 14px;
	font-weight: 300;
	letter-spacing: 0px;
	color: var(--primary-text-color);
}

.cards_breakline {
	border-bottom: 1px solid var(--secondary-text-color);
	width: 310px;
	margin: 10px 0 13px 0;
}

.cards_tag {
	font-size: 10px;
	font-weight: 300;
	letter-spacing: 0px;
	color: var(--primary-text-color);
}

.cards_tags {
	margin-bottom: 20px;
}

.cards_tag1 {
	/* margin-left: 21px; */
}
.cards_tag2 {
	margin-left: 49px;
}

.cards_cart {
	margin-left: 155px;
}

.cards_cardsecondpart {
	margin-left: 20px;
}

.cards_cardprice2 {
	text-decoration: line-through;
	font-size: 10px;
	font-weight: 300;
	color: var(--border-color);
	letter-spacing: 0px;
}

.cards_cardimg {
	position: relative;
}

.cards_offer {
	position: absolute;
	top: 20px;
	left: 257px;
	background-color: #222222;
	width: 73px;
	height: 30px;
}

.cards_offerinfo {
	text-align: center;
	font-size: 14px;
	font-weight: 300;
	letter-spacing: 0px;
	color: #ffffff;
	margin: 5px auto;
}

.cards_container::after {
	content: "";
	display: block;
	clear: both;
}

/* newsletter */

.newsletter {
	margin-top: 305px;
}

.content{
	position: relative;
}

.newletterimgsection {
	margin-left: 155px;
	position: absolute;
	top: -185px;
}

.content {
	background-color: var(--secondary-color);
}

.subscribeheading {
	padding-top: 60px;
	text-align: center;
	font-weight: 500;
	font-size: 24px;
	letter-spacing: 0px;
	color: var(--primary-text-color);
}

.now {
	font-weight: 300;
}

.subscribeinfo {
	padding-top: 10px;
	font-size: 14px;
	font-weight: 300;
	letter-spacing: 0px;
	color: var(--primary-text-color);
	text-align: center;
}

.subscribeinput {
	padding-top: 41px;
	padding-bottom: 60px;
}

.subscribeemailinputbox {
	background-color: #fff;
	border: none;
	outline: none;
	width: 350px;
	height: 50px;
	padding: 15px 30px;
	font-size: 14px;
	font-weight: 300;
	letter-spacing: 0px;
	color: var(--border-color);
	margin-left: -10px;
	box-sizing: border-box;
}

.subscribebtn {
	width: 160px;
	height: 50px;
	background-color: var(--primary-text-color);
	color: #fff;
	text-align: center;
	font-size: 14px;
	font-weight: 300;
	letter-spacing: 0px;
	padding: 12px 46px;
	/* box-sizing: border-box; */
	border: none;
	outline: none;
	margin-left: -4px;
}

.subscribesection {
	width: 510px;
	margin-left: 600px;
}

/* article */

.article{
	margin-top: 120px;
}

.article_card{
	width: 350px;
	display: inline-block;
	margin-right: 56px;
}

.article_imgsection{
	position: relative;
}

.article_border{
	position: absolute;
	top: 0;
	left: 0;
	width: 2px;
	height: 230px;
	background-color: var(--primary-text-color);
}

.lastarticle_card{
	float: right;
	margin-right: 0px;
}

.article_container::after{
	content: "";
	display: block;
	clear: both;
}

.article_name{
	font-weight: 500;
	font-size: 18px;
	letter-spacing: 0px;
	color: var(--primary-text-color);
	padding-top: 30px;
}

.article_info{
	font-weight: 300;
	font-size: 16px;
	letter-spacing: 0px;
	color: var(--primary-text-color);
	padding-top: 20px;
}

.article_readmore{
	font-size: 18px;
	font-weight: 300;
	letter-spacing: 0px;
	color: var(--primary-text-color);
	padding-top: 30px;
}


/* links */

.linkssection{
	margin-top: 120px;

}

.linkheading{
	font-size: 30px;
	font-weight: 500;
	letter-spacing: 0px;
	color: var(--primary-text-color);
}

.links_content{
	display: inline-block;
	margin-right: 142px;
}

.links_container::after{
	content: "";
	display: block;
	clear: both;
}


.links_content_right{
	float: right;
	margin-right: 0px;
}


.links{
	margin-top: 30px;

}

.listitem{
	list-style: none;
	padding: 5px 0px;
}

.link{
	text-decoration: none;
	font-size: 16px;
	font-weight: 300;
	letter-spacing: 0px;
	color: var(--primary-text-color);
}


/* footer */

.footer{
	margin-top: 60px;
	background-color: var(--secondary-color);
	height: 122px;
}

.footer_container::after{
	content: "";
	display: block;
	clear: both;
}

.copyright{
	margin: 45px auto;
	float: left;
}

.copy{
	font-size: 16px;
	font-weight: 300;
	letter-spacing: 0px;
	color: var(--primary-text-color);
}

.footerlink{
	font-size: 16px;
	font-weight: 300;
	letter-spacing: 0px;
	color: var(--primary-text-color);
}

.footerlinkssection{
	float: right;
}

.footer_container::after{
	content: "";
	display: block;
	clear: both;
}

.footerlistitem{
	float: left;
	margin: 45px 5px ;
}

.footer_ul::after{
	content: "";
	display: block;
	clear: both;
}